---
layout: page
paginate_path: "page:num"
---

<ul class="post-list">
    {% for post in paginator.posts %}
    
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      </li>
      <li class="article">
          {{post.content | split:'<!--more-->' | first}}
          <h7><a href='{{post.url}}' class="more-link">read more...</a></h7>
      </li>
    
    {% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
<div class="nav-div">
  {% if paginator.page > 1 %}
    <a class="nav-prev" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span class="nav-prev">&laquo; Prev</span>
  {% endif %}

  <span class="nav-link">
  <!--
  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}
  -->
  </span>
  
  {% if paginator.page < paginator.total_pages %}
    <a class="nav-next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span class="nav-next">Next &raquo;</span>
  {% endif %}
</div>
{% endif %}